services:
  mongo:
    image: mongo:8
    container_name: my-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: database_1
    volumes:
      - mongo_data:/data/db
  mongo-express:
    image: mongo-express
    container_name: my-mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: pass
      ME_CONFIG_MONGODB_URL: mongodb://root:password@mongo:27017/?authSource=admin
    depends_on:
      - mongo
  

volumes:
  mongo_data:
